.body{
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0;
  padding: 0;
}
section{
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 100px;
}
/* ====== Top Banner Section Starts ===== */

.top-banner{
  margin-top: 50px;
}
.stay-focused{
  display: flex;
}
.half-width {
  width: 48%;
  margin-left: 5%;
}
.left-border{
  border-left: 2px solid rgb(231, 165, 165);

}
.mission-title{
  font-size: 50px;
  margin-left: 10px;
  margin-bottom: 0px;
}
.mission-span{
  color: Orange;
  
}
.half-width img{
width: 65%;
}
.half-width p{
  font-size: 19px;
  margin-left: 10px;
  color: rgb(134, 111, 111);
  padding:20px 0px;
}
.explore-btn{
  background-color: brown;
  text-decoration: none;
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}



/* ====== Top Banner Section Ends ===== */